mixin footer
	footer
		p Copyright #{currentYear} 

mixin header(...links)
	header
		ul
			each item in links
				li
					a(href=item)= item

mixin head
	head
		title
		meta(charset="UTF-8")
		link(href='styles.css')

mixin content(title, msg)
	h1= title
	p= msg